<a href="https://colab.research.google.com/github/awingsumaBBx19093/cmsc_204/blob/main/Sumalinog_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Aldwin C. Sumalinog | CMSC 204 Data Structures and Algorithms
#### Programming Log 1
## codebasics Exercise: Array Data Structure
***************
**Given monthly expenses: [Jan is 2200] [Feb is 2350] [Mar is 2600] [Apr is 2130] [May is 2190]**

In [ ]:
# list storing given monthly expenses
mo_expenses = [2200, 2350, 2600, 2130, 2190]

**1. In Feb, how many dollars you spent extra compare to January?**

In [ ]:
extra = mo_expenses[1] - mo_expenses[0]
print("Dollars spent extra in Feb compared to Jan is", extra)

Dollars spent extra in Feb compared to Jan is 150

**2. Find out your total expense in first quarter (first three months) of the year.**

In [ ]:
ttl_expenses = 0
for i in mo_expenses[0:3]:
  ttl_expenses = ttl_expenses + i

print("Total expense for 1st quarter is", ttl_expenses)

Total expense for 1st quarter is 7150

**3. Find out if you spent exactly 2000 dollars in any month**

In [ ]:
spent2k = 2000
if spent2k in mo_expenses:
  print("You have spent exactly 2000 dollars.")
else:
  print("You have not spent exactly 2000 dollars in any month.")

You have not spent exactly 2000 dollars in any month.

**4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list.**

In [ ]:
mo_expenses.append(1980)
print("New monthly expenses with June expense added:", mo_expenses)

New monthly expenses with June expense added: [2200, 2350, 2600, 2130, 2190, 1980]

**5. You returned an item that you bought in a month of April and got a refund of 200 dollars. Make a correction to your monthly expense list based on this.**

In [ ]:
apr_adjusted = mo_expenses[3] - 200
print("Adjusted expenses for the month of April is", apr_adjusted)
mo_expenses[3] = apr_adjusted
print("Updated monthly expense list:", mo_expenses)

Adjusted expenses for the month of April is 1930
Updated monthly expense list: [2200, 2350, 2600, 1930, 2190, 1980]

***************
#### **List of favourite Marvel superheroes**
**heroes = ['spider man', 'thor', 'hulk', 'iron man', 'captain america']**

In [ ]:
heroes = ['spider man', 'thor', 'hulk', 'iron man', 'captain america']

**1. Find out the length of the list**

In [ ]:
print("Length of heroes list is", len(heroes))

Length of heroes list is 5

**2. Add 'black panther' at the end of the list**

In [ ]:
heroes.append('black panther')
print("Updated heroes list including black panther:\n", heroes)

Updated heroes list including black panther:
 ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther', 'black panther']

**3. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'**

In [ ]:
# removing black panther from the list
heroes.pop()

'black panther'

In [ ]:
# original heroes list with 'black panther' removed
print(heroes)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [ ]:
# adding 'black panther' after 'hulk'
heroes.insert(3, 'black panther')
print("Updated heroes list with 'black panther' after 'the hulk':\n", heroes)

Updated heroes list with 'black panther' after 'the hulk':
 ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

**4. Now You don't like thor and hulk because they get angry easily :)**

**So, you want them to remove thor and hulk from list and replace them with doctor strange (because he is cool).**

**Do that with one line of code.**

In [ ]:
# removing thor
heroes.remove('thor')
# removing hulk
heroes.remove('hulk')
# display heroes list with thor and hulk removed
print("Updated list without thor and hulk:\n", heroes)

Updated list without thor and hulk:
 ['spider man', 'black panther', 'iron man', 'captain america']

In [ ]:
# adding doctor strange in lieu of thor and hulk
heroes.insert(1, 'doctor strange')
print("Updated heroes list with 'doctor strange' added:\n", heroes)

Updated heroes list with 'doctor strange' added:
 ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']

**5. Sort the heroes list in alphabetical order.**

In [ ]:
# sort heroes list in alphabetical order using the sort() function
heroes.sort()

# display sorted heroes list
print("Heroes list with sorted array elements:\n", heroes)

Heroes list with sorted array elements:
 ['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

***************
**Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function.**

In [ ]:
# display program description
print("This program displays all odd numbers between 1 and n (input)")
# take input from the user for max number n
max_num = input("Enter any number (n): ")

# declare array varaible odd_num
odd_num = []
# declare variable to take range from 1 to max number n
values = range(int(max_num) + 1)

# loop to evaluate odd number for the range 1 to max number n
for i in values:
  if i % 2 == 1:
    odd_num.append(i)

# display all odd numbers between 1 to max number n
print("Odd numbers between 1 and %s are %s" % (max_num, odd_num))

This program displays all odd numbers between 1 and n (input)
Enter any number (n): 35
Odd numbers between 1 and 35 are [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35]